
body {
    background-color: #ebebeb;
    
  }
  
  .heading {
    background-color: #333333;
    margin-bottom: 20px;
    padding: 5px 0px 5px 15px;
  }
  
  .title {
    background-color: #333333;
    padding: 5px;
    color: white;
  }
  
  #runtime {
    background-color: #333333;
    color: #3e8fde;
    padding: 0px 0px 5px 5px;
  }
  
  .content {
    color: #f0bb0c;
   background: #333333;
  }
  
  #subtitle {
    color: rgb(0, 0, 0);
    margin-left: 55px;
  }
  
  #showing {
    margin-left: 20px;
  }
  
  #films li::before {
    content: "";
  }
  
  .film {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .sold-out {
    color: gray;
  }
  
  img {
    max-width: 50vw;
  }
  
  #film-info {
    padding-bottom: 20px;
    background:#333333;
  }
  